/* ASIDE */
aside a{
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--side-link);
    text-transform: capitalize;
    transition: all ease .3s;
}
aside a:hover{
    color: var(--primary);
}
aside .user{
    display: flex;
    align-items: center;
    gap: 1rem;
}
aside .user-avatar{
    border: 2px solid var(--secondary-foreground);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;
}
aside .user-avatar img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
aside .user-info{
    flex: 1;
    overflow-x: hidden;
}
aside .user-username{
    font-weight: bold;
    margin-bottom: .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
aside .user-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: var(--secondary-foreground);
    font-size: 1.5rem;

}

aside .card{
    margin-top: 2rem;
    
}
aside .card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-header-title{
    color: var(--secondary-foreground);
    font-size: 1.5rem;
    font-weight: bold;
}
.card-header-actions a{
    font-size: 1.3rem;
    color: var(--primary);
    font-weight: bold;

}
aside .card-body{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    margin: 1.5rem 0;

}
.card-body-item{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.item-avatar img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

}
.item-info{
    flex: 1;
}
.item-info-name{
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--primary);
    margin-bottom: .2rem;
    text-transform: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    

}
.item-info-text{
    display: block;
    color: var(--secondary-foreground);
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
aside .card-footer{

}