/* STORIES */
.stories{
    width: 100%;
    padding: 1rem 0;
    overflow-x: auto;
    scrollbar-width: none;
}
.stories-scroll{
    display: flex;
    gap: 1rem;
}
.scroll-item{
    display: flex;
    flex-direction: column;
    align-items: center;    
    cursor: pointer;
    
}
.scroll-item-avatar{
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    background: linear-gradient(45deg, var(--story-color1) 0%, var(--story-color2) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;


}
.scroll-item p{
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.scroll-item-avatar img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid var(--secondary-foreground);

}

/* SETAS STORIES */
.setas-stories{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6.5rem; 
}
.seta-storie-left,
.seta-storie-right{
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    cursor: pointer;    
    display: flex;
    align-items: center;
    justify-content: center;
      
}
.seta-storie-left{
    left: 1rem;
}
.seta-storie-right{
    right: 1rem;
}
.icon-area{
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background-color: var(--white);
}